/***BASE******/
*{
margin:0px;
padding:0px;

}

.containner-main{
    background: #2e374e;
}


.containner-label-modal {
    display: grid;
    padding: 5px;
}

label{
        font-weight: bold;
}
input{
        height: 30px;
}

/*
.oculto{
  display: none;
}
*/
/***BASE******/
/*-----------CONTAINNER SECTION 1-----------*/
.containner-section1 {
    background: #2e374e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-section1 {
    width: 300px;
    border: 4.5px solid white;
    border-radius: 197px;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0092ff, 0 0 20px #e1d5df, 0 0 25px #0997ef;
    padding: 15px;
}



.image-section-add-data{


}
.contain-data{
        padding: 5px;
        overflow: scroll-y;
}
/*-----------CONTANNER SECTION 1-----------*/
/**********************************************/
/*-----------CONTAINNER SECTION2-----------*
/************CONTAINNER DATA FORM**************/
.containner-data-form{




}
/*********HEADER***********/
.header {
    background: #2e374e;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.header-title {
    color: white;
    font-size: 31px;
}

/*********HEADER***********/
/************DATA FORM******/
/*
.form-modal {
    display: flex;
    height: 82vh;
    align-content: center;
    background: rgb(51, 102, 153);
    color:white;
}
*/

.title-form{
    text-align: center;
}

/*
.containner-data{


    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.containner-data-info{

    display: flex;
    flex-direction: column;
    background: red;
    height: 80vh;

}

*/

/************DATA FORM******/
/************CONTAINNER DATA FORM**************/
/******CONTAINNER BTN*****************/
.container-btn {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}
.btn-action {
    padding: 5px;
    color: white;
    font-weight: bolder;
    width: 49%;
    height: 32px;

}
.save-btn {
    background: #20701b;
}
.Qr-btn {
    background: #374d86;
}
.clear-btn {
    background: #e10505;
}
.Contrato-btn {
    background: #5d3786;
}

/******CONTAINNER BTN*****************/

/********FOOTER*****/
.footer{
        background: #374D86;
        padding: 15px;


}

footer{
        display: flex;
        justify-content: center;
}
.footer-select-number{
    color: white;
    margin-right: 5px;
}

.input-select-number{
        width: 50px;
}
/********FOOTER*****/
/*-----------CONTAINNER SECTION2-----------*/
/****************************************************/
/*-----------CONTAINNER CONTRATO-----------*/
.containner-contrato {

    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 5mm;
   /* height: 200mm;*/
}


.containner_data {
    display: flex;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo_contrato {

    background-color: #b7b7b9;
    width: 100px;
    border-radius: 10px;

}

.dateinfo{


}

.title-contrato {
    text-align: center;
    margin-bottom: revert;
    font-size: 50px;
}
.text-contrato {
    text-align: justify;
    line-height: 1.5;
}
.sub-title-contrato {
    text-align: center;
    padding: 15px;
    font-size: 35px;
}
.text-nombre-comprador{

color: black;
font-weight: bold;
}
.text-id{
color: black;
font-weight: bold;
}
.text-nombre-empresa{
color: black;
font-weight: bold;
}
.text-Rif{
color: black;
font-weight: bold;
}
.text-nombre-app{
color: black;
font-weight: bold;
}
.text-monto-app{
color: black;
font-weight: bold;
}
.tipo-plan-app{
color: black;
font-weight: bold;
}
.sub2-title-contra {
    padding: 15px;
    text-align: center;
    font-size: 25px;
}

.list-item-section {
    margin-left: 20px;
}

.list-item-section>li {
    margin-bottom: 8px;
    text-align: justify;
    line-height: 1.5;
}


.text-nom-ape-contratante{
color: black;
font-weight: bold;
}
.text-data-contratante{
color: black;
font-weight: bold;
}
.text-data-firma{

}

.content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-info>p{
        padding: 5px;

}


.modal-contrato {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-contrato {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.container-btn-contrato {
    padding: 20px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    margin-top: 6px;
}
.btn-action-contrato {
    padding: 10px;
    color: white;
    background: #0d60ccfc;
    /*border-style: none;*/
    font-weight: bold;
}

/*------------CONTAIINER CONTRATO----------*/
/*----------cONTAINNER QR-------------*/
.Title-qr{

}

.section-qr-1{
        display: flex;
        justify-content: space-between;
}

.section-qr-2 {
    display: flex;
    justify-content: center;
    background: #f3f3f3;
    padding: 20px;
}
.btn-qr-containner {
    display: flex;
    justify-content: center;
    padding: 1px;
    width: 100%;
    margin-top: 10px;
}

.btn-descargar-qr {
    background: #1050FF;
    color: white;
    font-weight: bold;
    padding: 8px;
    width: 100%;
    border-style: none;
    font-size: 15px;
}

.modal-qr {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-qr {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.qr_containner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #e5e5e5;
}


.nombre-de-la-empreza {
    font-size: 37px;
}


.close-qr {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-qr:hover,
.close-qr:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*----------cONTAINNER QR-------------*/